{%extends 'index.html'%}
{% block title %}
This is about title
{% endblock title %}
{% block body%}


<div class="container-fluid my-4 px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center><img src="/static/pic2.jpeg"  width=200 height=200 class="d-block w-20"  alt="..."><br>
          Location</center>
      </div>
    <div class="carousel-item">
      <center><img src="/static/b2.jpeg" width=300 height=200 class="d-block w-20" alt="..."><br>
      Manager<br><div class="carousel-caption d-none d-md-block">
        <h5>Welcome to the World of Learning...</h5>
      </div></center>
    </div>
    <div class="carousel-item">
      <center><img src="/static/b1.jpeg" width=300 height=200 class="d-block w-20" alt="..."><br>
      Coordinator</center>
    </div>
  </div>
</div>
</div>
<center><h3>This organisation was initiated with the inspiration instilled <br><br>by some of our loving customers to make the
purchasibg<br><br> process more enthusiastic and simple.
    Here customer gets <br><br> actual support and motivation to understand the concepts of complex topic <br><br>
    under one roof.
</center>

<div class="container" >

</div>

<!-- Form Bootstrap CSS -->


{%endblock body%}

